doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title GTFS Stops Map
    link(rel="stylesheet", href="/leaflet/leaflet.css")
    link(rel="stylesheet", href="/style.css")
  body
    #map
    script(src="leaflet/leaflet.js")
    script.
      var map = L.map('map', { preferCanvas: true }).setView([46.801111, 8.226667], 8);

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      const markerStyle = {
        radius: 5,
        fillColor: "#0096FF",
        color: "#0000FF",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
      };

      L.geoJSON(!{stops}, {
        pointToLayer: function (feature, pointCoordinates) {
          return L.circleMarker(pointCoordinates, markerStyle).bindPopup(feature.properties.name);
        }
      }).addTo(map);
